@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-brand-100: #131313;
  --color-brand-200: #1c1c1d;
  --color-brand-300: #262627;
  --color-brand-400: #2f2f30;
  --color-brand-500: #2f2f2f;
  --color-brand-600: #242425;
  --color-brand-700: #2c2c2c;
  --color-light-100: #ffffff;
  --color-light-200: #e8e8e8;
  --color-light-300: #8f8f8f;
  --color-light-400: #4c4c4c;
  --color-secondary-100: #db2c00;
  --color-secondary-200: #d43912;
  --color-accent-100: #b53ad0;
  --color-accent-200: #fec737;
  --color-accent-300: #ff6b6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(235deg, #1b1f2e, #2c133d, #301541, #101435);
  font-family: var(--font-poppins), sans-serif;
  color: var(--color-light-100);
}

.font-family-emoji {
  font-family:
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", system-ui,
    sans-serif !important;
}
.project-card:active {
  transform: scale(0.97);
  transition: transform 0.15s ease;
}

@layer utilities {
  .loader {
    border: 4px solid var(--color-light-300); /* Light gray */
    border-top: 4px solid var(--color-secondary-100); /* Accent color */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  }
  .animate-slide-up {
    animation: slide-up 0.5s ease-in;
  }
  .shadow-soft-inset {
    box-shadow:
      inset 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      inset 0 18px 36px -18px rgba(0, 0, 0, 0.3);
  }
  .shadow-card-hover {
    box-shadow:
      inset 0 30px 60px -12px rgba(139, 92, 246, 0.15),
      inset 0 18px 36px -18px rgba(0, 0, 0, 0.5),
      0 10px 30px -10px rgba(139, 92, 246, 0.25);
  }
  .hero-text {
    animation: fadeInUp 0.8s ease-out forwards;
  }
  .animate-neon {
    animation: neon-glow 2.5s ease-in-out infinite;
  }
  .animate-slide-left {
    animation: slide-left 0.4s ease-out;
  }
  .animate-slide-right {
    animation: slide-right 0.4s ease-out;
  }
  .timeline-item {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
  }

  .timeline-item.show {
    opacity: 1;
    transform: translateY(0);
  }

  .timeline-line {
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.8s ease;
  }

  .timeline-line.show {
    transform: scaleY(1);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px #b53ad0;
  }
  50% {
    box-shadow:
      0 0 20px #b53ad0,
      0 0 30px #6366f1;
  }
  100% {
    box-shadow: 0 0 5px #b53ad0;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow-line {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes timelineFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--color-brand-100);
    padding: 40px 80px 40px 80px;
    font-family: var(--font-outfit), sans-serif;
  }
}

@media (max-width: 768px) {
  .floating-label {
    position: relative;
    background-color: #3b294a;
    border-radius: 12px;
  }
  .floating-label__input {
    display: flex;
    padding: 13px 14px 14px 15px;
    border: none !important;
    outline: none !important;
    font-size: 16px;
    line-height: 1.5;
    color: #d4d4d4e7;
    z-index: 1;
  }
  .floating-label__outline {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
  }

  .floating-label__leading,
  .floating-label__notch,
  .floating-label__trailing {
    border-color: #4c4c4c;
    border-width: 1px;
    border-style: solid;
    transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .floating-label__leading {
    border-radius: 12px 0 0 12px;
    border-right: none;
    width: 12px;
  }
  .floating-label__notch {
    flex: 0 1 auto;
    border-right: none;
    border-left: none;
  }
  .floating-label__trailing {
    flex-grow: 1;
    border-radius: 0 12px 12px 0;
    border-left: none;
  }

  .floating-label__label {
    font-family: "Roboto";
    display: inline-block;
    position: relative;
    top: 16px;
    bottom: auto;
    left: 4px;
    max-width: 100%;
    color: #8f8f8f;
    transform-origin: left top;
    transition:
      transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }

  .floating-label__input:hover ~ .floating-label__outline {
    .floating-label__leading,
    .floating-label__notch,
    .floating-label__trailing {
      border-color: #4c4c4c;
    }
  }

  .floating-label.active,
  .floating-label__input:not(:placeholder-shown),
  .floating-label__input:valid ~ .floating-label__outline,
  .floating-label__input:focus ~ .floating-label__outline,
  input:-webkit-autofill + .floating-label__outline {
    .floating-label__leading,
    .floating-label__notch,
    .floating-label__trailing {
      border-color: #4c4c4c;
      border-width: 2px;
    }
    .floating-label__notch {
      border-top: none;
    }
    .floating-label__label {
      color: #ffffff;
      transform: translateY(-25px) scale(0.9);
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition-delay: 99999s;
  }
  @-webkit-keyframes autofill {
    to {
      background: transparent;
    }
  }
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  .input--error {
    .floating-label__label {
      color: #ff8484 !important;
      animation: shake 0.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
  @keyframes shake {
    33.33% {
      transform: translate3d(8px, -21px, 0) scale(0.75);
    }
    66.33% {
      transform: translate3d(-2px, -21px, 0) scale(0.75);
    }
    100% {
      transform: translate3d(0, -21px, 0) scale(0.75);
    }
  }

  .input-group {
    position: relative;
    max-width: 300px;
  }
}
